<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Lecturers List</title>
  </head>
  <body>
    
    <!-- Navbar -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" dir="rtl">  
	  <a class="navbar-brand" href="#">لیست اساتید</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      	<li class="nav-item active">
	        	<a class="nav-link" th:href="@{/adminhome}">خانه<span class="sr-only">Add</span></a>
	      </li>
	    </ul>
	    </div>
	</nav>
	
	<!-- Navbar -->

	<!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
	
	<!-- Alert -->
	
	<div th:if="${session.lecturerAdminMessage}" th:classappend="${session.lecturerAdminMessage}"> 
		<div class="alert alert-success" role="alert" th:text="${session.lecturerAdminMessage}" align="center"></div>
		<th:block th:text="${#session.removeAttribute('lecturerAdminMessage')}"></th:block>
	</div>
	
	<!-- Alert -->
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------ --><br>
	
	<!-- Table -->

	<div class="container">
		<table class="table table-striped">
		    <thead class="bg-secondary text-white"> 
			    <tr>
			      <th scope="col">آیدی</th>
			      <th scope="col">نام</th>
			      <th scope="col">نام خانوادگی</th>
			      <th scope="col">کد ملی</th>
			      <th scope="col">ایمیل</th>
			      <th scope="col">شماره موبایل</th>
			      <th scope="col">کد پرسنلی</th> 
			      <th scope="col">آدرس</th>
			      <th scope="col">رمز عبور</th> 
			      <th scope="col">جنسیت</th> 
			      <th scope="col">ویرایش</th>
			      <th scope="col">حذف</th>
			    </tr>
		  	</thead>
			<tbody>
				<tr th:each="e : ${lecturers}" style="font-size: small;"> 
			      <th th:text="${e.id}" style="font-size: small;"></th>
			      <td th:text="${e.name}" style="font-size: small;"></td>
			      <td th:text="${e.family}" style="font-size: small;"></td>
			      <td th:text="${e.meli_code}" style="font-size: small;"></td>
			      <td th:text="${e.email}" style="font-size: small;"></td>
			      <td th:text="${e.phone}" style="font-size: small;"></td>
			      <td th:text="${e.lecturer_number}" style="font-size: small;"></td>
			      <td th:text="${e.address}" style="font-size: small;"></td> 
			      <td th:text="${e.password}" style="font-size: small;"></td>
			      <td th:text="${e.gender}" style="font-size: small;"></td>
			      <td>
			      <a class="btn btn-sm btn-primary" th:href="@{/ledit/{id}(id=${e.id})}">ویرایش</a>
		      	  </td>
		      	  <td>
			      	<a class="btn btn-sm btn-danger" th:href="@{/ldelete/{id}(id=${e.id})}">حذف</a> 
		      	  </td>
				</tr>
			</tbody>
		</table>
	</div>

	 <!-- Table -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0faddclaf8.js" crossorigin="anonymous"></script> 
  </body>
</html>
